{
  "presets": ["babel-preset-latest"],
  "plugins": [
    "syntax-dynamic-import",
    ["module-resolver", {
      "root": ["../../../../"],
      "alias": {
        "external": "../../../"
      }
    }]
  ]
}